 <html>
 <H1>  PAGE POTIN </H1>
 <H3> Voici la page du potin n°X-1 </H3>
 <H5> Son auteur : <%=gossip.author%> </H5>
 <H5> Le contenu du potin :  <%= gossip.content%> </H5>
	<a href="/gossips/new/"> Lien pour revenir à la page des potins </a>
 </html>
 
 
